/* src/components/Portfolio.module.css */
.portfolioSection {
  
  padding: 20px;
  text-align: center;
}
.portfolioSection h2 {
  color: indianred; /* Adicione a cor aqui */
  
}


.projectsGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.projectCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectCard img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  margin-bottom: 10px;
  max-height: 150px;
}

.projectCard img.expanded {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 400px;
  margin-bottom: 10px;
}

.projectCard h5 {
  padding: 10px;
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.projectCard a {
  display: inline-block;
  padding: 8px 15px;
  text-align: center;
  background-color: #484849;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.projectCard a:hover {
  background-color: #424344;
}

@media (min-width: 768px) {
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .projectCard {
    align-items: center;
    text-align: center;
  }
}